/* Import fonts: Poppins and Raleway  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/* For the Header */

/* End of the header */

/* For the Title of the the blog */
h1{
    color:#333;
    font-family: serif;
    font-size: 2.5em;
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
    
}
h2 {
    color:#333;
    font-family: serif;
    margin-top: 30px;
    margin-bottom: 15px;
}

/* For the context */
blockquote{
    color:#666;
    margin-left: 16%;
    font-family: Poppins;
}
p{
    background-color: rgb(243,249,255);
    color:#666;
    font-family: Poppins;
}

/* for the overall margin */
main{
    /* font-family: Poppins; */
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;
    text-align: justify;
}