@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.navigation-menu ul { font-family: serif; }

nav {
    background-color: #4c2fa0;
    height: 80px;
    text-align: center;
    z-index: 1;
    width: 100%;
    color: white;
    box-shadow: 0 0px 4px #666;
}

img {
    margin-top: 10px;
    margin-left: 10px;
}
  
.navigation-menu {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    position: fixed;
    margin-top: 0;
}
  
nav li {
    margin-right: 40px;
    display: inline-block;
    font-size: 1.1em;
    font-family: Raleway;
    margin-top: 30px;
}

nav ul {
    white-space: nowrap;
    margin: 0 auto;
}
  
nav li a {
    text-decoration: none;
    color: white;
}
  
nav li a:hover { color: #b175ff; }


/* Search Box */
.search-box {
    margin-left: 110px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    width: 250px;
    height: 35px;
    border-radius: 10rem;
    border-color: black;
    margin-top: 20px;
}
  
.search-box input {
    margin-left: 15px;
    border: none;
    outline: none;
    width: 12rem;
}
  
.search-box svg { margin-top: 8px; }
  

/* Icons */
.icon {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    text-align: left;
    margin-right: 10px;
}
  
.profile-icon, .notification-icon {
    margin-left: 10px;
    margin-top: 22px;
    width:30px;
    height: 30px;;
}
  
svg:hover { fill: #b175ff; }

svg { fill: white; }

.search-icon { fill: #333; }

/* Account Information */
.account-info{
    margin-right: 0;
    margin-left: 85px;
    margin-top: 8%;
    flex: 0.25;
}


.profile{
    
    position:relative;
    display:inline-block;
    margin-bottom: 30px;
}

.profile img{
    width: 60px;
    height: 60px;
    
}

.profile span{
    color:#333;
    font-family: serif;
    font-size: 1.5em;
    position: absolute;
    top: 30%;
    margin-right:50%;
    width:150px;
    font-weight: bold;
}

.user-info li{

    color: #666;
    font-family: Poppins;
    font-size: 1em;
    list-style-type: none;
    margin-left: -45px;
    line-height: 2;
}

.user-info{
    margin-top: 20px;
}
.edit-button button{
    width: 170px;
    height: 45px;
    margin: 30px; 
    font-size: medium;
    margin-left: 0;
    border: 1px solid #b175ff;
    color: white;
    font-family: Raleway;
    background-color: #b175ff;
}
.edit-button button:hover { background-color: #4c2fa0; }



/* reading list */
.reading-list {
    flex:1; 
    margin-top: 8%;
    margin-bottom: 65px;
    margin-right:85px;
}

.continue-reading, .wish-to-read, .finished-reading {
    margin-left: 0px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin-bottom: 50px;
}

.book-img { 
    width: 200px; 
    height: 285px; 
    margin-top: 0;
}

.continue-reading li, .wish-to-read li, .finished-reading li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
}

.reading-list h3 {
    font-size: 1.7em;
    font-family: serif;
    color: #333;
    /* margin-left: 85px; */
    margin-bottom: 0;
    margin-left:37px;
}

.book-title, .author-genre {
    text-align: left;
    margin: 0;
    padding: 0;
    font-family: Poppins;
    margin-left: 8px;
}

a { text-decoration: none; }

.book-title {
    color: #666;
    font-size: 0.9em;
}

.author-genre {
    color: #b175ff;
    font-size: 0.75em;
}
