/* Import fonts: Poppins, Playfair Display, and Raleway  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: white;
}



/* ------------------------------------- */
        /* Navigation Menu */
/* ------------------------------------- */
.navigation-menu ul { font-family: serif; }

nav {
    background-color: #4c2fa0;
    height: 80px;
    text-align: center;
    z-index: 1;
    width: 100%;
    color: white;
    box-shadow: 0 0px 4px #666;
}

.logo {
    margin-right: 230px;
    margin-top: 15px;
    font-family: Playfair Display;
    font-size: 2em;
}

.logo a { color: white; }
  
.navigation-menu {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    position: fixed;
    margin-top: 0;
}
  
nav li {
    margin-right: 20px;
    display: inline-block;
    font-size: 1.1em;
    font-family: Raleway;
    margin-top: 30px;
}

nav ul {
    white-space: nowrap;
    margin: 0 auto;
}
  
nav li a {
    text-decoration: none;
    color: white;
}
  
nav li a:hover { color: #b175ff; }




/* ------------------------------------- */
        /* Dropdown Button */
/* ------------------------------------- */
button a { font-size: 1.2em; }
  
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    font-size: 0.85em;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover { background-color: #ddd; }

.dropdown:hover .dropdown-content { display: block; }

.dropdown:hover .dropbtn { background-color: #4c2fa0; }



/* ------------------------------------- */
            /* Search Box */
/* ------------------------------------- */
.search-box {
    margin-left: 110px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    width: 250px;
    height: 35px;
    border-radius: 10rem;
    border-color: black;
    margin-top: 20px;
}
  
.search-box input {
    margin-left: 15px;
    border: none;
    outline: none;
    width: 12rem;
}
  
.search-box svg { margin-top: 8px; }
  


/* ------------------------------------- */
                /* Icons */
/* ------------------------------------- */
.icon {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    text-align: left;
    margin-right: 10px;
}
  
.profile-icon, .notification-icon {
    margin-left: 10px;
    margin-top: 22px;
    width:30px;
    height: 30px;;
}
  
svg:hover { fill: #b175ff; }

svg { fill: white; }

.search-icon { fill: #333; }
  


/* ------------------------------------- */
        /*** Hero Section ***/
/* ------------------------------------- */
.hero-section-bookcover { 
    margin-top: 20%; 
    margin-left: 30%;
}

.hero-section-bookcover img { 
    width: 290px; 
    height: 420px;  
    box-shadow: 3px 5px 10px #666;
}

.hero-section { 
    display: grid; 
    grid-template-columns: repeat(2, 2fr);
    z-index: 2;
    padding-bottom: 65px;
    padding-top: 25px;
}

.hero-section-content { margin-top: 20%; } 

.hero-section-content p { margin-top: 0; }

.hero-section-content h1 { 
    font-size: 4em;
    font-weight: bold;
    font-family: serif;
    color: #333;
    margin-bottom: 0;
}

.author { 
    color: #b175ff;
    font-family: Poppins;
}

.hero-description { 
    font-family: Poppins;
    padding-right: 85px;
    font-size: 1.2em;
    margin-top: 200px;
    line-height: 1.5;
    color: #5d5d5d;
}

.hero-button button {
    width: 170px;
    height: 50px;
    margin: 30px; 
    font-size: large;
    margin-left: 0;
    border: 1px solid #b175ff;
    color: white;
    font-family: Raleway;
    background-color: #b175ff;
}

.hero-button button:hover { background-color: #4c2fa0; }



/* ------------------------------------- */
        /*** Reader Section ***/
/* ------------------------------------- */
.reader-section { 
    margin: 0 auto;
    width: 100%; 
    display: inline-block;
    background-color: rgb(243, 249, 255);
    padding-bottom: 90px;
}

main section h4 { 
    text-align: center; 
    color: #333;
    font-size: 2.3em;
    font-family: serif;
    margin-bottom: 20px;
    margin-top: 90px;
}

.reader-reviews {
    grid-template-columns: repeat(3, 3fr);
    text-align: left;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    margin-top: 30;
    margin-right: 85px;
    margin-left: 85px;
}

.fourth-wing-review {
    font-size: 0.9em;
    line-height: 1.5;
    margin-bottom: 8px;
    color: #5d5d5d;
}

.reader {
    font-size: 0.75em;
    color: #b175ff;
    margin-top: 0;
}

.reader-reviews > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.fourth-wing-review, .reader { 
    font-family: Poppins; 
    text-align: left;
}

.first-reader-column, .second-reader-column { margin-right: 85px; }



/* ------------------------------------------------ */
/*** Trending Now, Fantasy, Non-fiction Sections ***/
/* ------------------------------------------------ */
.book-section {
    margin-top: 80px;
    margin-bottom: 80px;
}

.books {
    margin-right: 100px;
    margin-left: 100px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.book { 
    width: 185px; 
    height: 270px; 
    transition: 0.3s;
    box-shadow: 2px 3px 4px #666;
}

.book:hover { scale: 1.075; }

.books li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
}

.book-section h3 {
    font-size: 1.7em;
    font-family: serif;
    color: #333;
    margin-left: 85px;
    margin-bottom: 10px;
}

.book-title, .author-genre {
    text-align: left;
    margin: 0;
    padding: 0;
    font-family: Poppins;
    margin-left: 2px;
}

a { text-decoration: none; }

.book-title {
    color: #666;
    font-size: 0.9em;
    margin-top: 10px;
}

.author-genre {
    color: #b175ff;
    font-size: 0.75em;
}



/* ------------------------------------- */
        /*** Author Spotlight ***/
/* ------------------------------------- */
.author-pic { 
    margin-top: 65px; 
    margin-left: 85px;
}

.author-pic img { 
    width: 540px; 
    height: 350px; 
} 

.author-spotlight { 
    display: grid; 
    grid-template-columns: repeat(2, 2fr);
    padding-bottom: 65px;
    background-color: rgb(243, 249, 255);
}

.author-spotlight-content h4 { 
    font-size: 3em;
    font-weight: bold;
    font-family: serif;
    text-align: left;
    color: #333;
    margin-bottom: 0;
    margin-top: 70px;
}

.author-content { 
    font-family: Poppins;
    padding-right: 85px;
    font-size: 1.1em;
    line-height: 1.5;
    color: #5d5d5d;
    margin-top: 40px;
}

.author-bio {
    color: #b175ff;
    font-size: 0.85em;
    font-family: Poppins;
    margin-top: 5px;
    margin-bottom: 10px;
}

.author-button button {
    width: 170px;
    height: 50px;
    margin: 30px; 
    font-size: large;
    margin-left: 0;
    color: white;
    border: 1px solid #b175ff;
    font-family: Raleway;
    background-color: #b175ff;
}

.author-button button:hover { background-color: #4c2fa0; } 



/* ------------------------------------- */
        /*** Newsletter Section ***/
/* ------------------------------------- */
.newsletter-section {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
}

#email-input {
    width: 300px;
    height: 40px;
    margin-top: 30px;
    margin-right: 5px;
    font-size: medium;
    color: #666;
    font-family: Raleway;
    border: 1px solid #333;
}

.newsletter-section h2 {
    font-size: 2.5em;
    margin-top: 80px;
    margin-bottom: 20px;
    color: #333;
}

.newsletter-section p {
    margin-top: 12px;
    font-size: 0.9em;
    font-family: Poppins;
    color: #666;
}

.subscription-form input[type="submit"] {
    width: 130px;
    height: 40px;
    font-size: medium;
    background-color: #b175ff;
    font-family: Raleway;
    margin-top: 30px;
    border: 1px solid #b175ff;
    color: white;
}

.subscription-form input[type="submit"]:hover { background-color: #4c2fa0; }



/* ------------------------------------- */
        /*** Footer Section ***/
/* ------------------------------------- */
* {
    margin:0;
	padding:0;
	box-sizing: border-box;
}

.container {
	max-width: 1170px;
	margin:auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
}

.footer {
	background-color: #333;
    padding: 70px 0;
}

.footer-col {
   width: 25%;
   padding: 0 15px;
}

.footer-col h4 {
	font-size: 1em;
    font-family: Raleway;
    color: white;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before {
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #b175ff;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footer-col ul li a {
	font-size: 0.9em;
    font-family: Poppins;
	color: white;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	color: white;
	padding-left: 8px;
}

.footer-col .social-links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #666;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: white;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
	color: #b175ff;
	background-color: white;
}

.copyright { 
    color: white;
    font-family: Raleway;
    font-size: 0.9em;
    margin-top: 20px;
}



/*** Responsive Footer ***/
@media(max-width: 767px) {
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}

@media(max-width: 574px) {
  .footer-col{
    width: 100%;
}
}



/* Responsive Header and Body */
@media screen and (max-width: 1024px) {
    .navigation-menu .icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .logo {
        flex: 0 0 30%;
        margin-left: 10px;
    }

    .logo a p {
        font-size: 0.6em;
        display: inline-block;
        margin-right: 15x;
    }

    .search-box, .profile-bell-icons {
        flex: 0 0 30%;
        display: flex;
        justify-content: space-between;
        margin-left: auto;
    }

    .search-box {
        width: calc(70% - 5px); 
        margin-right: 5px; 
    }

    .search-icon {
        flex: 0 0 20%;
    }

    .nav-items {
        flex: 1;
        text-align: right;
        font-size: 0.85em;
        margin-top: 5px;
        margin-right: 25px;
    }

    .icon {
        margin-bottom: 15px;
    }

    .notification-icon, .profile-icon {
        width: 28px; 
        height: 28px; 
    }

    .notification-icon {
        margin-right: 10px;
    }

    .profile-bell-icons {
        flex: 0 0 calc(20% - 10px); 
        display: flex;
        justify-content: space-between;
        margin-left: 10px; 
    }

    .hero-section {
        grid-template-columns: 1fr; /* Change to a single column layout */
    }

    .hero-section-bookcover {
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
    }

    .hero-section-content {
        margin-top: 10%;
        margin-left: 5%;
    }

    .hero-description {
        margin-top: 20px;
        padding-right: 0;
    }

    .reader-reviews,
    .author-spotlight-content {
        margin-right: 20px;
        margin-left: 20px;
    }

    .author-pic img {
        width: 100%;
        height: auto;
    }
}


@media screen and (max-width: 430px) { 

    .hero-section {
        grid-template-columns: 1fr; /* Change to a single column layout */
    }

    .hero-section-bookcover {
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
    }

    .hero-section-content {
        margin-top: 10%;
    }

    .hero-description {
        margin-top: 20px;
        padding-right: 0;
    }

    .reader-reviews,
    .author-spotlight-content {
        margin-right: 20px;
        margin-left: 20px;
    }

    .author-pic img {
        width: 100%;
        height: auto;
    }
}