@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
/* all part of the page */
* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: yellow
}

/* for body part */
body {
    background-color: lightblue;
    color: #222;
    font-size: 18px;
    display: flex;
}

/* for navigation part */
nav {
    float: left;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    width: 100px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0,0.1);
}


/* for logo */
.logo {
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
}

/* for image of logo */
.logo img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

/* logo span */
.logo span {
    font-weight: bold;
    padding: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

/* for anchor of navigation */
a {
    position: relative;
    color: rgb(85,83,83);
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
}

/* navigation item such as fiction, non-fiction etc... */
.nav-item {
    position: relative;
    top: 12px;
    margin-left: 10px;
}


/* when hover it expands */
nav:hover {
    width: 250px;
    transition: all 0.5s ease;
}

/* for main part */
main {
  float: right;
  margin-left: 85px;
  

}
  .fa {
    margin-right: 20px;
    font-size: 30px;
    color: gray;
    float: right;
  }
  /******************************************
  Book stuff
  *******************************************/
  

/* my code start */


/* main-content for full div wrap everything */
.main-content {
  margin: 2.5em auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

h1, h3 {
  width: 100%;
  margin: 0 auto 0.5em;
  font-size: 30px;
}

.wrapper {
  max-width: calc(100% / 4);
  min-width: 10em;
}

.book {
  height: 250px;
  width: 175px;
  position: relative;
  transition: 0.4s ease-in-out;
  border-radius: 5px 15px 15px 5px;
  transform-origin: left center 0px;
  display: inline-block;
  margin: 32px;
  perspective: 800px;
}

.book:hover {
  transform: rotateZ(-7deg);
}

.book:hover .book-cover {
  transform: rotateY(-40deg);
  z-index: 999;
  box-shadow: 20px 10px 50px rgba(0, 0, 0, 0.2);
}

.book-cover {
  height: 250px;
  width: 175px;
  position: absolute;
  border-radius: 5px 15px 15px 5px;
  box-shadow: 0 0 5px 1.5px rgba(0, 0, 0, 0.25);
  z-index: 10;
  transition: 0.5s linear;
  transform-style: preserve-3d;
  transform-origin: left center 0px;
  background-size: 180px 255px;
}

.book-detail {
  background-color: rgba(51, 51, 51, 0.8);
  margin-top: 185px;
  padding: 15px;
  font-size: 12px;
  font-weight: 800;
  position: relative;
  z-index: 10;
  color: #fff;
  text-align: left;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.book-page {
  height: 100%;
  width: 175px;
  position: absolute;
  background-color: #fbfae8;
  z-index: 0;
  box-shadow: 0 0 5px 1.5px rgba(0, 0, 0, 0.25);
  border-radius: 5px 16px 16px 5px;
  overflow: hidden;
}
 
/* my code end */

  @media (max-width: 941px) {
    .container {
      max-width: 700px;
    }
    .book {
      margin: 49px;
    }
  }
  @media (max-width: 730px) {
    .book {
      display: block;
      margin: 0 auto;
      margin-top: 50px;
    }

  }
  
  
h1{
    color: gray;
    text-align: center;
    font-size: 50px;
    margin-bottom: -3px;
  }


h4 {
  padding: 15px;
  color: #b175ff;
  font-size: 0.75em;
}

h3{
font-size: 1.6em;
font-family: serif;
color: #333;
margin-left: 85px;
margin-bottom: 0;
}