/* Import fonts: Poppins, Playfair Display, and Raleway  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: white;
}
/* ------------------------------------- */
        /* Navigation Menu */
/* ------------------------------------- */
.navigation-menu ul { font-family: serif; }

nav {
    top: 0;
    background-color: #4c2fa0;
    height: 80px;
    text-align: center;
    z-index: 100;
    width: 100%;
    color: white;
    box-shadow: 0 0px 4px #666;
}

.logo {
    margin-right: 230px;
    margin-top: 15px;
    font-family: Playfair Display;
    font-size: 2em;
}

.logo a { 
    color: white;
    text-decoration: none;
}
  
.navigation-menu {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    position: fixed;
    margin-top: 0;
}
  
nav li {
    margin-right: 20px;
    display: inline-block;
    font-size: 1.1em;
    font-family: Raleway;
    margin-top: 30px;
}

nav ul {
    white-space: nowrap;
    margin: 0 auto;
}
  
nav li a {
    text-decoration: none;
    color: white;
}
  
nav li a:hover { color: #b175ff; }



/* ------------------------------------- */
        /* Dropdown Button */
/* ------------------------------------- */
button a { font-size: 1.2em; }
  
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    font-size: 0.85em;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #4c2fa0;}



/* ------------------------------------- */
            /* Search Box */
/* ------------------------------------- */
.search-box {
    margin-left: 110px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    width: 250px;
    height: 35px;
    border-radius: 10rem;
    border-color: black;
    margin-top: 20px;
}
  
.search-box input {
    margin-left: 15px;
    border: none;
    outline: none;
    width: 12rem;
}
  
.search-box svg { margin-top: 8px; }
  


/* ------------------------------------- */
                /* Icons */
/* ------------------------------------- */
.icon {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    text-align: left;
    margin-right: 10px;
}
  
.profile-icon, .notification-icon {
    margin-left: 10px;
    margin-top: 22px;
    width:30px;
    height: 30px;;
}
  
svg:hover { fill: #b175ff; }

svg { fill: white; }

.search-icon { fill: #333; }
/* nav end */



/* ------------------------------------- */
            /* Book Display */
/* ------------------------------------- */
main {
    display: flex;
    margin-top: 2%;
    justify-content: center;
    grid-gap: 9em;
}

.allleft {
    display: flex;
    flex-direction: column;
    margin-left: 125px;
}

/* Left Panel */
.leftpanel {
    margin-left: 8%;
    box-sizing: content-box;
}

img { 
    transition: 0.3s;
    box-shadow: 2px 3px 4px #666;
}

.bottomleft {
    margin-top: 40px;
    box-sizing: content-box;
    text-align: center;
}

.bottomleft ul li h2 { 
    color: #333;
    font-size: 1.8em;
}

.bottomleft li {
    color: #666;
    font-family: sans-serif;
    font-size: 0.9em;
    list-style-type: none;
    line-height: 1.5;
    text-align: justify;
    box-sizing: content-box;
    margin-left: 8%;
}

.button button { margin-left: 8%; }

button {
    width: 170px;
    height: 50px;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: large;
    border: 1px #b175ff;
    color: white;
    font-family: Raleway;
    background-color: #b175ff;
    align-items: center;
    justify-content: center;
}

.button .wishlist-button { margin-left: 10px; }

.allleft button:hover { background-color: #4c2fa0; }

audio { margin-left: 15%; }


/* panel right */
.rightpanel {
    float: right;
    box-sizing: border-box;
    margin-right: 160px;
}

/* line */
.line {
    width: 2px;
    background-color: grey;
    height: 800px; /* Adjust the height to match the panels' height */
    position: absolute;
    margin-right: 16%;
    /* Adjust the left position to match the width of the left panel and add some space */
  }

  /* back button */
.back a { 
    text-decoration: none;
    font-size: medium;
}

.back button {
    margin-top: 8%;
    margin-left: 20px;
    font-family: Raleway;
    background-color: transparent;
    color: #333;
    font-size: medium;
    height: 40px;
    width: 100px;
}

.back button:hover { 
    background-color: #f1f1f1;
    border-radius: 3px;
}



/* ------------------------------------- */
        /*** Footer Section ***/
/* ------------------------------------- */
* {
    margin:0;
	padding:0;
	box-sizing: border-box;
}

.container {
	max-width: 1170px;
	margin:auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
}

.footer {
    margin-top: 8%;
	background-color: #333;
    padding: 70px 0;
}

.footer-col {
   width: 25%;
   padding: 0 15px;
}

.footer-col h4 {
	font-size: 1.2em;
    font-family: Raleway;
    color: white;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before {
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #b175ff;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footer-col ul li a {
	font-size: 1em;
    font-family: Poppins;
	color: white;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	color: white;
	padding-left: 8px;
}

.footer-col .social-links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #666;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: white;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
	color: #b175ff;
	background-color: white;
}

.copyright { 
    color: white;
    font-family: Raleway;
    font-size: 0.9em;
    margin-top: 20px;
}

/*** Responsive Footer ***/
@media(max-width: 767px) {
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  
  @media(max-width: 574px) {
    .footer-col{
      width: 100%;
  }
}

/* mobile style */
body {font-size: 16px;}

/* tablet style */
@media (min-width: 768px) {
    body { font-size: 18px;}
}

/* responsive nav */
@media screen and (max-width: 1024px) {
    .navigation-menu .icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .logo {
        flex: 0 0 30%;
        margin-left: 10px;
    }

    .logo a p {
        font-size: 0.6em;
        display: inline-block;
        margin-right: 15x;
    }

    .search-box, .profile-bell-icons {
        flex: 0 0 30%;
        display: flex;
        justify-content: space-between;
        margin-left: auto;
    }

    .search-box {
        width: calc(70% - 5px); 
        margin-right: 5px; 
    }

    .search-icon {
        flex: 0 0 20%;
    }

    .nav-items {
        flex: 1;
        text-align: right;
        font-size: 0.85em;
        margin-top: 5px;
        margin-right: 25px;
    }

    .icon {
        margin-bottom: 15px;
    }

    .notification-icon, .profile-icon {
        width: 28px; 
        height: 28px; 
    }

    .notification-icon {
        margin-right: 10px;
    }

    .profile-bell-icons {
        flex: 0 0 calc(20% - 10px); 
        display: flex;
        justify-content: space-between;
        margin-left: 10px; 
    }

    .hero-section {
        grid-template-columns: 1fr; /* Change to a single column layout */
    }

    .hero-section-bookcover {
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
    }

    .hero-section-content {
        margin-top: 10%;
        margin-left: 5%;
    }

    .hero-description {
        margin-top: 20px;
        padding-right: 0;
    }

    .reader-reviews,
    .author-spotlight-content {
        margin-right: 20px;
        margin-left: 20px;
    }

    .author-pic img {
        width: 100%;
        height: auto;
    }
}